html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  color: #1f1f1f;
  text-align: center;
}

.container {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppStartCapturing {
  background-color: #4CAF50;
}

.AppStopCapturing {
  background-color: #F44336;
}

.CaptureStatus {
  color: #ffffff;
}