html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    color: #1f1f1f;
    text-align: center;
}

.app {

    max-width: 100%;
    margin: 20px auto;
    padding: 0 15px;
    color: #1f1f1f;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.col {
    flex: 0 0 100%;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
}

.label {
    flex: 0 0 120px;

}

.input-field {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

#textarea {
    resize: none;

}

.button {
    padding: 10px;
    font-weight: bold;
    background-color: lawngreen;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: bisque;
}


@media screen and (min-width: 768px) {
    .col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .form-group {
        flex-wrap: wrap;
    }

    .label,
    .input-field {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .button {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media screen and (min-width: 992px) {
    .col {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .form-group {
        flex-wrap: nowrap;
    }

    .label,
    .input-field {
        flex: 0 0 auto;
        max-width: none;
    }

    .button {
        margin-left: 10px;
        margin-top: 0;
    }
}

/* Additional Responsive Styles */

@media screen and (max-width: 480px) {
    .label {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 5px;
    }

    .input-field,
    .button {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .button {
        margin-left: 0;
        margin-top: 10px;
    }
}